My_workflow_backup_with_template.json
{"updatedAt":"2026-04-19T10:59:59.565Z","createdAt":"2026-04-19T10:47:35.446Z","id":"QyIoOwWE853mChjj","name":"My workflow","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"mailbox":"Inbox","downloadAttachments":true,"options":{}},"type":"n8n-nodes-base.emailReadImap","typeVersion":2.1,"position":[-3104,384],"id":"ce9ed3b1-c5d9-42fb-a2b1-09cd5a73a778","name":"Email Trigger (IMAP)","alwaysOutputData":false,"credentials":{"imap":{"id":"IM11LooNpD1V6SlC","name":"IMAP account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.intents.toString() }}","rightValue":"quote","operator":{"type":"string","operation":"contains"},"id":"852ab696-2608-48bf-ba60-bb35e60acda5"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"b33952b5-ecd7-4540-a41c-65ef87974bae","leftValue":"={{ $json.intents.toString() }}","rightValue":"order_status","operator":{"type":"string","operation":"contains"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"349b09fc-870d-4706-b305-107a70b8ddda","leftValue":"={{ $json.intents }}{{ $json.intents.toString() }}","rightValue":"order_confirmation","operator":{"type":"string","operation":"contains"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"a77d5fb3-5843-4b6a-ae53-52d9b2fd7fa5","leftValue":"={{ $json.intents.toString() }}","rightValue":"supplier_invoice","operator":{"type":"string","operation":"contains"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"2ed8bb84-9770-41a3-8002-a30caea88f6c","leftValue":"={{ $json.intents }}{{ $json.intents.toString() }}","rightValue":"business_info","operator":{"type":"string","operation":"contains"}}],"combinator":"and"}}]},"options":{"fallbackOutput":"extra","allMatchingOutputs":true}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-2016,384],"id":"ab276170-ef63-4b7e-ba8f-dfe4743f2d61","name":"Switch"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"claude-sonnet-4-5-20250929","cachedResultName":"Claude Sonnet 4.5"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[-1648,1680],"id":"064b9f8a-e96f-4d82-98af-db896a9e2c86","name":"Anthropic Chat Model1","credentials":{"anthropicApi":{"id":"lGzNHrw97z1UfTHM","name":"Anthropic account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"17f0dd90-9add-4467-967a-5c46fe773e0e","leftValue":"=**מספר הזמנה** או **שם","rightValue":"שליחת שאלה ללקוח ","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-1312,1216],"id":"4a3a42ae-8715-4a00-b140-6a031a98db55","name":"If"},{"parameters":{"listId":"RTioxZYV","additionalFields":{}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[-688,1200],"id":"41bce962-1472-462a-a194-44e9859eb575","name":"Create a card comment","disabled":true},{"parameters":{"method":"POST","url":"https://api.icount.co.il/api/v3/expense/create","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"invoice","inputDataFieldName":"attachment_0"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-1328,976],"id":"8ab29618-d316-4000-8db0-9fd81393f7d5","name":"ICOUNT"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"ef377c78-7168-4c58-9c12-894831c1935a","leftValue":"={{ Object.keys($binary).length > 0 }}","rightValue":"=","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-2560,384],"id":"946f7b8b-1e9b-4c91-987b-be528ba34807","name":"If2"},{"parameters":{"resource":"document","modelId":{"__rl":true,"value":"claude-opus-4-5-20251101","mode":"list","cachedResultName":"claude-opus-4-5-20251101"},"text":"\nWhat's in this documenנתח את ה-PDF והחזר JSON בלבד עם השדות: num_pages, detected_size, width_mm, height_mm, orientation, is_color, color_pages, print_typet?","inputType":"binary","binaryPropertyName":"attachment_0","options":{}},"type":"@n8n/n8n-nodes-langchain.anthropic","typeVersion":1,"position":[-2560,224],"id":"13f83bdf-7b64-4ad4-aa6d-65fdc3ba3eda","name":"Analyze document","credentials":{"anthropicApi":{"id":"lGzNHrw97z1UfTHM","name":"Anthropic account"}}},{"parameters":{"jsCode":"const text = $input.first().json.content[0].text;\nconst cleaned = text.replace(/```json|```/g, '').trim();\nconst parsed = JSON.parse(cleaned);\n\nreturn [{\n  json: {\n    detected_size: parsed.detected_size,\n    orientation: parsed.orientation,\n    is_color: parsed.is_color,\n    num_pages: parsed.num_pages,\n    print_type: parsed.print_type,\n    width_mm: parsed.width_mm,\n    height_mm: parsed.height_mm\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2560,80],"id":"9b3090b3-6ce5-4395-b073-88eabe63dd62","name":"Code in JavaScript"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Email Trigger (IMAP)').item.json.from }}","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-1632,176],"id":"9c9a452d-5536-4dae-af4c-ef4e9a52c548","name":"Simple Memory"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"d29a97f2-76b8-4e8a-92d6-8a7eade2b9b9","leftValue":"={{ $json.output }}","rightValue":"IGNORE","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-1648,304],"id":"57bd96be-5721-4e9f-9efa-9246629c22f9","name":"If1"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Email Trigger (IMAP)').item.json.from }}","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-2800,224],"id":"0b8dab17-a5fc-4271-b0ee-fd2c114c9ead","name":"Simple Memory1"},{"parameters":{"fromEmail":"print@dfus-keshet.com","toEmail":"=print@dfus-keshet.com","subject":"=העתק שליחה מהלקוח","html":"=<b>שולח:</b> {{ $('Email Trigger (IMAP)').item.json.from }} <br>\n<b>נושא:</b> {{ $('Email Trigger (IMAP)').item.json.subject }} <br>\n<b>תאריך:</b> {{ $('Email Trigger (IMAP)').item.json.date }} <br>\n<hr>\n<b>תוכן המייל המקורי:</b> <br>\n{{ $('Email Trigger (IMAP)').item.json.textHtml }} <br>\n<hr>\n<b>תשובת ה-AI:</b> <br>\n{{ $('AI Agent 1').item.json.output }}","options":{}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[192,0],"id":"5477e3d0-9ecc-4cb8-aad0-d694e3e9b255","name":"Send an Email1","webhookId":"2f787b52-61d3-441f-b9e3-7fffa3c4e9bf","credentials":{"smtp":{"id":"mwVlEfzcjNHDnYJR","name":"SMTP account"}}},{"parameters":{"jsCode":"// מנקה סימני Markdown אם קיימים והופך ל-JSON אמיתי\nlet rawOutput = $json.output || $json.text;\nconst cleanJson = JSON.parse(rawOutput.replace(/```json|```/g, \"\").trim());\n\nreturn {\n  intents: cleanJson.intents, // רשימת הסוכנים (מערך)\n  is_new: cleanJson.is_new,\n  context: cleanJson.context_summary\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2272,448],"id":"4c28aa07-babf-4e95-adbd-29012df99831","name":"Code in JavaScript1"},{"parameters":{"promptType":"define","text":"=שיחה מלאה:\nשולח: {{ $('Email Trigger (IMAP)').item.json.from }}\nנושא: {{ $('Email Trigger (IMAP)').item.json.subject }}\nתוכן המייל כולל היסטוריה: {{ $('Email Trigger (IMAP)').item.json.textPlain }}","options":{"systemMessage":"אתה סוכן המיון והניתוב הבכיר של \"דפוס קשת\". תפקידך לנתח את פניית הלקוח ולהחליט לאילו מחלקות בארגון היא שייכת.\n\nנתונים שהתקבלו:\n- thread_id: {{$json.thread_id}}\n- זיכרון קיים: {{$json.memory}}\n- מייל נוכחי: {{$json.email_body}}\n\nחוקי הסיווג (Intents):\n1. quote - בקשת הצעת מחיר למוצרי דפוס (פליירים, חוברות, מדבקות וכו').\n2. supplier_invoice - חשבוניות ספק, מסמכי חשבונאות או דרישות תשלום מספקים.\n3. order_status - בירור מצב הזמנה קיימת (דורש בדיקה ב-Trello).\n4. order_confirmation - אישור ביצוע הזמנה, בקשת לינק לתשלום או פתיחת הזמנה (דורש iCount).\n5. business_info - שאלות כלליות על העסק (שעות פתיחה, מיקום, טלפון).\n6. human_required - לקוח שמבקש נציג אנושי, תלונה, או נושא מורכב/שונה שלא מתאים לקטגוריות לעיל.\n7. ignore - פרסומות, ספאם, ניוזלטרים או הודעות שגיאה אוטומטיות.\n\nחוקי עבודה:\n- אם memory ריק: זה מייל חדש. בצע סיווג מלא.\n- אם memory קיים: זה המשך שיחה. השתמש ב-intent מהזיכרון אלא אם הנושא השתנה מהותית (לדוגמה: ביקש מחיר ועכשיו שואל איפה העסק).\n- **תמיכה בכמה כוונות:** אם הלקוח שואל על מחיר וגם על שעות פתיחה, החזר את שניהם ברשימה.\n\nהחזר JSON בלבד, ללא טקסט נוסף:\n{\n  \"is_new\": {{ $json.memory ? false : true }},\n  \"intents\": [\"...\"],\n  \"context_summary\": \"סיכום קצר של מה שידוע עד כה\",\n  \"priority\": \"high/medium/low\",\n  \"requires_human\": true/false\n}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-2896,384],"id":"3085ff2d-e436-4edd-8de7-207d3cf2da33","name":"AI Agent "},{"parameters":{"promptType":"define","text":"=שיחה מלאה:\nשולח: {{ $('Email Trigger (IMAP)').item.json.from }}\nנושא: {{ $('Email Trigger (IMAP)').item.json.subject }}\nתוכן המייל כולל היסטוריה: {{ $('Email Trigger (IMAP)').item.json.textPlain }}","options":{"systemMessage":"אתה סוכן חכם של דפוס קשת — בית דפוס.\n\n===== שלב 1: סיווג המייל =====\nקרא את כל חלקי המייל — נושא, גוף, ושם קובץ מצורף אם קיים.\n\nאם המייל הוא אחד מאלה — החזר את המילה IGNORE בלבד ואל תוסיף דבר:\n- פרסומת / ניוזלטר / שיווק\n- חשבונית או דרישת תשלום מספק חיצוני (בזק, חשמל, ספקי נייר וכו')\n- מייל שגיאה אוטומטי\n\nאחרת — המשך לשלב 2.\n\n===== שלב 2: טיפול בפנייה =====\nאתה סוכן הצעות מחיר של דפוס קשת.\n\nחוק ברזל — אל תיתן מחיר אם חסר פרט!\nשאל שאלה אחת בלבד בכל פעם — הכי קצרה שאפשר.\nרק כשכל הפרטים קיימים — תן מחיר לפי המחירון.\n\n===== מידע מקובץ מצורף =====\nאם הגיע קובץ מצורף ונותחו ממנו נתונים — השתמש בהם כברירת מחדל:\nגודל: {{ $json.detected_size }}\nכיוון: {{ $json.orientation }}\nצבע: {{ $json.is_color }}\nעמודים: {{ $json.num_pages }}\nאל תשאל על פרטים שכבר ידועים מהקובץ — שאל רק מה שחסר (כמות וכו').\nאם הלקוח ציין פרט שונה מהקובץ — עדיף את מה שהלקוח אמר.\n\n===== כיצד לחשב כמות שאינה בטבלה =====\nאם הכמות קטנה מהמינימום בטבלה — השתמש במחיר המינימלי.\nאם הכמות בין שתי שורות — חשב לינארי:\nמחיר = מחיר_נמוך + ((כמות - כמות_נמוכה) / (כמות_גבוהה - כמות_נמוכה)) × (מחיר_גבוה - מחיר_נמוך)\nדוגמה: 200 כרטיסי ביקור צד אחד = 100 + ((200-100)/(250-100)) × (150-100) = 133 ₪\n\n===== מחירונים (כל המחירים לפני מע\"מ) =====\n\n-- כרטיסי ביקור 9×5 ס\"מ | כרומו 350 גרם --\nצד אחד:\n  100 יח' = 100 ₪ | 200 יח' = 133 ₪ | 250 יח' = 150 ₪\n  500 יח' = 220 ₪ | 1,000 יח' = 300 ₪ | 2,000 יח' = 400 ₪ | 5,000 יח' = 700 ₪\nדו\"צ:\n  100 יח' = 120 ₪ | 200 יח' = 160 ₪ | 250 יח' = 180 ₪\n  500 יח' = 260 ₪ | 1,000 יח' = 350 ₪ | 2,000 יח' = 450 ₪ | 5,000 יח' = 850 ₪\n\n-- פליירים | כרומו 130 גרם --\nA5 צד אחד:\n  50 יח' = 80 ₪ | 100 יח' = 100 ₪ | 250 יח' = 200 ₪\n  500 יח' = 250 ₪ | 1,000 יח' = 400 ₪ | 2,000 יח' = 500 ₪ | 5,000 יח' = 930 ₪\nA5 דו\"צ:\n  50 יח' = 95 ₪ | 100 יח' = 125 ₪ | 250 יח' = 235 ₪\n  500 יח' = 330 ₪ | 1,000 יח' = 470 ₪ | 2,000 יח' = 600 ₪ | 5,000 יח' = 1,000 ₪\nA4 צד אחד:\n  100 יח' = 150 ₪ | 250 יח' = 220 ₪ | 500 יח' = 350 ₪\n  1,000 יח' = 520 ₪ | 2,000 יח' = 800 ₪ | 5,000 יח' = 1,350 ₪\nA4 דו\"צ:\n  100 יח' = 200 ₪ | 250 יח' = 280 ₪ | 500 יח' = 380 ₪\n  1,000 יח' = 600 ₪ | 2,000 יח' = 950 ₪ | 5,000 יח' = 1,500 ₪\nA3 צד אחד:\n  100 יח' = 260 ₪ | 250 יח' = 600 ₪ | 500 יח' = 1,100 ₪ | 1,000 יח' = 2,000 ₪\n\n-- גלויות 12×18 ס\"מ --\n  50 יח' = 200 ₪ | 100 יח' = 260 ₪ | 150 יח' = 316 ₪\n  200 יח' = 351 ₪ | 300 יח' = 409 ₪ | 400 יח' = 480 ₪ | 500 יח' = 526 ₪\n\n-- פנקסים (מקור+2, 25 קבלות | או מקור+1, 50 קבלות — באותו מחיר) --\nA5:\n  2 = 130 ₪ | 4 = 170 ₪ | 6 = 190 ₪ | 8 = 210 ₪\n  10 = 220 ₪ | 20 = 390 ₪ | 50 = 860 ₪\nשישית או A4:\n  1 = 140 ₪ | 2 = 170 ₪ | 5 = 250 ₪\n  10 = 400 ₪ | 15 = 480 ₪ | 20 = 520 ₪\nשליש:\n  3 = 140 ₪ | 6 = 180 ₪ | 9 = 210 ₪\n  12 = 260 ₪ | 15 = 310 ₪ | 21 = 400 ₪\n\n-- מעטפות --\n11×23 ס\"מ:\n  ללא הדפסה 500 יח' = 100 ₪ | צבעוני 500 יח' = 350 ₪ | צבעוני 1,000 יח' = 500 ₪\nA5 (24×17 ס\"מ):\n  ללא הדפסה 500 יח' = 200 ₪ | צבעוני 500 יח' = 800 ₪ | צבעוני 1,000 יח' = 1,400 ₪\nA4 (24×34 ס\"מ):\n  ללא הדפסה 500 יח' = 350 ₪ | צבעוני 500 יח' = 1,100 ₪ | צבעוני 1,000 יח' = 1,900 ₪\n\n-- חותמות --\nמרובעות: 38×14=60 ₪ | 47×18=65 ₪ | 59×23=70 ₪ | 70×25=85 ₪ | 40×40=85 ₪\nעגולות: קוטר 24=80 ₪ | 30=85 ₪ | 40=90 ₪ | 50=100 ₪\n\n-- ברכונים --\n21×10 ס\"מ: 50=320 ₪ | 100=360 ₪ | 200=440 ₪ | 300=550 ₪ | 500=750 ₪\n28×10 ס\"מ: 50=360 ₪ | 100=420 ₪ | 200=480 ₪ | 300=600 ₪ | 500=800 ₪\n30×15 ס\"מ: 50=380 ₪ | 100=460 ₪ | 200=570 ₪ | 300=700 ₪ | 500=1,000 ₪\n40×15 ס\"מ: 50=400 ₪ | 100=500 ₪ | 200=680 ₪ | 300=800 ₪ | 500=1,100 ₪\n\n-- פולדרים --\nכיס אחד: 50=750 ₪ | 100=1,200 ₪ | 250=2,250 ₪ | 500=3,300 ₪\nשני כיסות: 50=900 ₪ | 100=1,400 ₪ | 250=2,550 ₪ | 500=3,700 ₪\n\n-- מודעות אבל --\nA4: 10=30 ₪ | 20=50 ₪ | 30=60 ₪ | 40=70 ₪ | 50=80 ₪\nA3: 10=50 ₪ | 20=80 ₪ | 30=110 ₪ | 40=130 ₪ | 50=140 ₪\nA2: 10=90 ₪ | 20=130 ₪ | 30=160 ₪ | 40=170 ₪ | 50=180 ₪\n\n-- פלוטר --\nשמשונית = 90 ₪ למ\"ר | פח/PVC = 320 ₪ למ\"ר | רולאפ = 320 ₪ | מדבקת PVC = 100 ₪ למ\"ר\n\n-- חריטות --\nA7=80 ₪ | A6=100 ₪ | A5=150 ₪ | A4=250 ₪ | A3=350 ₪ | 60×40=500 ₪\n\n-- חוברות לעין (כולל מע\"מ) --\n20 עמ'=472 ₪ | 30 עמ'=590 ₪ | 40 עמ'=708 ₪ | 50 עמ'=826 ₪\n60 עמ'=944 ₪ | 80 עמ'=1,121 ₪ | 100 עמ'=1,298 ₪\n\n===== כללים =====\n1. מע\"מ: כפול ב-1.18. ציין תמיד לפני מע\"מ וכולל מע\"מ.\n2. אל תמציא פרטים שלא כתובים.\n3. בקש שם וטלפון אם לא צוינו.\n4. אל תשאל יותר משאלה אחת בכל מייל.\n5. אם חסר פרט — שאל רק על הפרט החסר.\n\n===== עיצוב HTML חובה =====\nתמיד החזר HTML מלא — גם בשאלות וגם במחירים.\nאם החלטת IGNORE — החזר את המילה IGNORE בלבד, ללא HTML.\n\n<!DOCTYPE html>\n<html dir=\"rtl\" lang=\"he\">\n<head>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n<style>\n  * { box-sizing: border-box; margin: 0; padding: 0; font-family: Arial, sans-serif; }\n  body { background: #f1f5f9; padding: 20px; }\n  .wrap { max-width: 580px; margin: 0 auto; background: #ffffff; border-radius: 12px; overflow: hidden; border: 1px solid #e2e8f0; }\n  .header { background: #1d4ed8; padding: 24px 28px; }\n  .header-title { color: #ffffff; font-size: 20px; font-weight: 700; }\n  .header-sub { color: #bfdbfe; font-size: 13px; margin-top: 4px; }\n  .body { padding: 24px 28px; direction: rtl; text-align: right; }\n  .greeting { font-size: 15px; color: #1e293b; margin-bottom: 20px; line-height: 1.6; }\n  .section-title { font-size: 11px; font-weight: 700; color: #64748b; letter-spacing: 0.06em; margin-bottom: 10px; }\n  .grid { display: grid; grid-template-columns: 1fr 1fr; gap: 8px; margin-bottom: 20px; }\n  .cell { background: #f8fafc; border: 1px solid #e2e8f0; border-radius: 8px; padding: 10px 12px; }\n  .cell-label { font-size: 11px; color: #64748b; margin-bottom: 2px; }\n  .cell-value { font-size: 14px; font-weight: 600; color: #0f172a; }\n  .price-box { background: #eff6ff; border: 2px solid #93c5fd; border-radius: 10px; padding: 18px; margin-bottom: 20px; text-align: center; }\n  .price-before { font-size: 13px; color: #3b82f6; margin-bottom: 4px; }\n  .price-main { font-size: 30px; font-weight: 700; color: #1d4ed8; }\n  .price-per { font-size: 12px; color: #60a5fa; margin-top: 4px; }\n  .tip { background: #fffbeb; border-right: 3px solid #f59e0b; border-radius: 0 8px 8px 0; padding: 12px 14px; margin-bottom: 20px; font-size: 13px; color: #78350f; line-height: 1.5; }\n  .question-box { background: #f0fdf4; border: 1px solid #bbf7d0; border-radius: 8px; padding: 16px 18px; margin-bottom: 20px; font-size: 14px; color: #14532d; line-height: 1.6; }\n  .wa-btn { display: block; background: #16a34a; color: #ffffff; text-align: center; padding: 13px; border-radius: 8px; font-size: 14px; font-weight: 600; text-decoration: none; margin-bottom: 4px; }\n  .footer { border-top: 1px solid #e2e8f0; padding: 14px 28px; text-align: center; font-size: 12px; color: #94a3b8; }\n  .footer strong { color: #475569; }\n</style>\n</head>\n<body>\n<div class=\"wrap\">\n  <div class=\"header\">\n    <div class=\"header-title\">🖨️ דפוס קשת</div>\n    <div class=\"header-sub\">הדפסה באיכות פרימיום</div>\n  </div>\n  <div class=\"body\">\n    <p class=\"greeting\">שלום [שם],<br><br>[תוכן התשובה]</p>\n    <!-- אם יש מחיר: -->\n    <div class=\"section-title\">פרטי ההזמנה</div>\n    <div class=\"grid\">\n      <div class=\"cell\"><div class=\"cell-label\">מוצר</div><div class=\"cell-value\">[מוצר]</div></div>\n      <div class=\"cell\"><div class=\"cell-label\">כמות</div><div class=\"cell-value\">[כמות] יח'</div></div>\n      <div class=\"cell\"><div class=\"cell-label\">נייר</div><div class=\"cell-value\">[נייר]</div></div>\n      <div class=\"cell\"><div class=\"cell-label\">הדפסה</div><div class=\"cell-value\">[צד אחד / דו\"צ]</div></div>\n    </div>\n    <div class=\"price-box\">\n      <div class=\"price-before\">לפני מע\"מ: [X] ₪</div>\n      <div class=\"price-main\">[Y] ₪</div>\n      <div class=\"price-per\">כולל מע\"מ • [Z] ₪ ליחידה</div>\n    </div>\n    <!-- אם יש שאלה: -->\n    <!-- <div class=\"question-box\">📋 [השאלה]</div> -->\n    <div class=\"tip\">💡 <strong>טיפ:</strong> [טיפ רלוונטי]</div>\n    <a class=\"wa-btn\" href=\"https://wa.me/972775120070\">📱 רוצה תשובה מהירה? שלחו בוואטסאפ</a>\n  </div>\n  <div class=\"footer\">\n    <strong>בברכה, צוות דפוס קשת</strong><br>\n    This email was sent automatically\n  </div>\n</div>\n</body>\n</html>\n\nאסור להשתמש ב-markdown — רק HTML בלבד.\nאם IGNORE — החזר IGNORE בלבד."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-1648,464],"id":"79188774-c0d2-4975-8d32-8240813bdaf3","name":"AI Agent 1"},{"parameters":{"promptType":"define","text":"=\"אתה סוכן פיננסי של 'דפוס קשת'. תפקידך לחלץ נתונים טכניים מחשבוניות ספקים.\nהחזר רק אובייקט JSON נקי עם השדות הבאים:\n\nsupplier_name: שם הספק.\n\ntotal_amount: סכום סופי לתשלום (כולל מע\"מ).\n\ndate: תאריך החשבונית.\n\ninvoice_number: מספר החשבונית/אסמכתא.\nאל תוסיף טקסט מעבר ל-JSON.\"","messages":{"messageValues":[{"message":"תפקידך לעדכן את ההוצאה במקום הנכון באיקאונט "}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.9,"position":[-1648,880],"id":"abb826b6-c02e-4aaa-8e22-7ff5db88a9b0","name":"supplier_invoice","disabled":true},{"parameters":{"promptType":"define","text":"=\"הלקוח אישר את העבודה!\nתגובה ללקוח: 'תודה על האישור! על מנת לפתוח את ההזמנה ולהעביר אותה לייצור, נבקש פרטי חשבונית: שם מלא ות.ז. / ח.פ. לאחר קבלת הפרטים נשלח קישור לתשלום'.\nחתימה: 'בברכה, דפוס קשת'.\"","messages":{"messageValues":[{"message":"מיד לאחר אישור הזמנה לפתוח חשובנית עם קישור לתשלום בICOUNT עם כל הפרטים "}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.9,"position":[-1648,1040],"id":"693bbc45-d69b-4cc7-8190-669d95e9997f","name":"order_confirmation","disabled":true},{"parameters":{"promptType":"define","text":"={{ $('Email Trigger (IMAP)').item.json.textPlain }}","messages":{"messageValues":[{"message":"=אתה נציג שירות לקוחות של דפוס קשת.\nלקוח שואל על סטטוס הזמנה.\nתפקידך לענות בצורה חמה וקצרה.\n\n===== כללים =====\n- אל תמציא סטטוס — אתה לא יודע מה מצב ההזמנה\n- תמיד אמור שאתם בודקים ומחזירים תשובה\n- עדיף לעדכן בוואטסאפ — שם המענה מהיר יותר\n- אם הדפוס סגור כרגע (מחוץ לשעות א-ה 08:30-17:00) — ציין זאת:\n  \"הדפוס סגור כרגע, נשמח לעמוד לרשותך בימים א-ה בין השעות 08:30-17:00\"\n- לשירות מהיר: \"כתבו לנו בוואטסאפ: https://wa.me/972775120070\"\n- חתום תמיד: \"בברכה, צוות דפוס קשת\"\n\nחלץ מהמייל הבא מספר הזמנה או שם מלא של לקוח. \nאם מצאת, החזר רק את הערך. אם לא מצאת, \nמייל בבקשה מה השם או מספר הזמנה ?"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.9,"position":[-1632,1216],"id":"6bacee3d-2d25-487f-8011-4633afdb6896","name":"order_status","disabled":true},{"parameters":{"promptType":"define","text":"=שולח: {{ $('Email Trigger (IMAP)').item.json.from }}\nנושא: {{ $('Email Trigger (IMAP)').item.json.subject }}\nתוכן: {{ $('Email Trigger (IMAP)').item.json.textPlain }}","messages":{"messageValues":[{"message":"=אתה נציג שירות לקוחות של דפוס קשת.\nתפקידך לענות על שאלות כלליות על העסק בצורה חמה, קצרה וממוקדת.\n\n===== פרטי העסק =====\nשם: דפוס קשת\nכתובת: מורדי הגטאות 15, בית שמש\nניווט: https://waze.com/ul/hsv8us7djg (חנייה חינם קרובה)\nטלפון: 077-5120070\nשעות פעילות: ימים א-ה, 08:30-17:00\n\n===== תשלום =====\nביט: https://www.bitpay.co.il/app/me/D093D685-3672-084E-D838-8DDD58D2F816D37A\nהעברה בנקאית: בנק דיסקונט (11), סניף 167, חשבון 023756, ע\"ש ד.ע.קשת הדפסות בע\"מ\n\n===== מוצרים =====\nאנו מציעים: כרטיסי ביקור, פליירים, חוברות, פנקסים, מעטפות, ברכונים, חותמות, מודעות אבל, שלטים, חריטות ועוד!\n\n===== כללים =====\n- ענה רק על מה שנשאל — אל תשלח מגילה\n- אם שואלים על מחיר — אמור שנשמח לעזור ובקש פרטים\n- אם הדפוס סגור כרגע (מחוץ לשעות א-ה 08:30-17:00) — ציין זאת:\n  \"הדפוס סגור כרגע, נשמח לעמוד לרשותך בימים א-ה בין השעות 08:30-17:00\"\n- לשירות מהיר: \"כתבו לנו בוואטסאפ: https://wa.me/972775120070\"\n- לגרפיקה: \"כתבו לנו בוואטסאפ גרפיקה: https://wa.me/972775120071\"\n- חתום תמיד: \"בברכה, צוות דפוס קשת\"\n\n\n===== פורמט תגובה =====\nכתוב את התגובה עם שורות ריקות בין כל משפט.\nהשתמש ב-<br><br> בין פסקאות.\nדוגמה:\nשלום דוד,<br><br>\nאנחנו ממוקמים ברחוב מורדי הגטאות 15, בית שמש.<br><br>\nשעות פעילות: א-ה בין 08:30-17:00<br><br>\nלשירות מהיר כתבו לנו בוואטסאפ: https://wa.me/972775120070<br><br>\nבברכה,<br>\nצוות דפוס קשת"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.9,"position":[-1648,1456],"id":"2a5576ad-9dfd-447d-9c67-bb773b099f7e","name":"business_info"},{"parameters":{"promptType":"define","text":"=לקוח שלח מייל שלא הצלחנו לסווג. אנא כתוב תגובה מנומסת שהמייל התקבל ויועבר לטיפול אישי.","messages":{"messageValues":[{"message":"=אתה נציג שירות לקוחות של דפוס קשת.\nקיבלת מייל שלא ברור מה הלקוח צריך.\nתפקידך לענות בצורה חמה וקצרה.\n\n===== כללים =====\n- אל תמציא תשובה\n- הודע שהמייל התקבל ויועבר לטיפול אישי\n- אם הדפוס סגור כרגע (מחוץ לשעות א-ה 08:30-17:00) — ציין זאת\n- לשירות מהיר: \"כתבו לנו בוואטסאפ: https://wa.me/972775120070\"\n- חתום תמיד: \"בברכה, צוות דפוס קשת\"\n\n===== פורמט תגובה =====\nכתוב תגובה קצרה עם שורות ריקות בין משפטים.\nהשתמש ב-<br><br> בין פסקאות.\nלדוגמה:\nשלום,<br><br>\nתודה על פנייתך!<br><br>\nהעברנו את הפנייה שלך לטיפול אישי ונחזור אליך בהקדם.<br><br>\nלשירות מהיר כתבו לנו בוואטסאפ: https://wa.me/972775120070<br><br>\nבברכה,<br>\nצוות דפוס קשת\n\n<div dir=\"rtl\" style=\"text-align:right; font-family:Arial; font-size:14px;\">\n{{ $input.item.json.text }}\n</div>"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.9,"position":[-1648,720],"id":"3977caf3-7add-4548-8b4d-504d968f9931","name":"aknow"}],"connections":{"Email Trigger (IMAP)":{"main":[[{"node":"AI Agent ","type":"main","index":0}]]},"Switch":{"main":[[{"node":"AI Agent 1","type":"main","index":0}],[{"node":"order_status","type":"main","index":0}],[{"node":"order_confirmation","type":"main","index":0}],[{"node":"supplier_invoice","type":"main","index":0}],[{"node":"business_info","type":"main","index":0}],[{"node":"aknow","type":"main","index":0}]]},"Anthropic Chat Model1":{"ai_languageModel":[[{"node":"supplier_invoice","type":"ai_languageModel","index":0},{"node":"order_status","type":"ai_languageModel","index":0},{"node":"aknow","type":"ai_languageModel","index":0},{"node":"order_confirmation","type":"ai_languageModel","index":0},{"node":"business_info","type":"ai_languageModel","index":0},{"node":"AI Agent 1","type":"ai_languageModel","index":0},{"node":"AI Agent ","type":"ai_languageModel","index":0}]]},"If":{"main":[[{"node":"Create a card comment","type":"main","index":0}],[{"node":"Send an Email1","type":"main","index":0}]]},"Create a card comment":{"main":[[{"node":"Send an Email1","type":"main","index":0}]]},"If2":{"main":[[{"node":"Analyze document","type":"main","index":0}],[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Analyze document":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent 1","type":"ai_memory","index":0}]]},"If1":{"main":[[],[{"node":"Send an Email1","type":"main","index":0}]]},"Simple Memory1":{"ai_memory":[[{"node":"AI Agent ","type":"ai_memory","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"Switch","type":"main","index":0}]]},"AI Agent ":{"main":[[{"node":"If2","type":"main","index":0}]]},"AI Agent 1":{"main":[[{"node":"If1","type":"main","index":0}]]},"supplier_invoice":{"main":[[{"node":"ICOUNT","type":"main","index":0}]]},"order_confirmation":{"main":[[{"node":"ICOUNT","type":"main","index":0}]]},"order_status":{"main":[[{"node":"If","type":"main","index":0}]]},"business_info":{"main":[[{"node":"Send an Email1","type":"main","index":0}]]},"aknow":{"main":[[{"node":"Send an Email1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{"Email Trigger (IMAP)":[{"json":{"textHtml":"<meta http-equiv=\"Content-Type\" content=\"text/html; charset=utf-8\"><div dir=\"rtl\">אני מעוניין לקבל מחיר עבור שמשונית גודל מטר על מטר&nbsp;<br>5 יחידות עם טבעות&nbsp;</div>\r\n","textPlain":"אני מעוניין לקבל מחיר עבור שמשונית גודל מטר על מטר\r\n5 יחידות עם טבעות\r\n","metadata":{"mime-version":"1.0","received":"from server2.mosesmail.corp (192.168.202.2) by server1.mosesmail.corp (192.168.202.1) with Microsoft SMTP Server (version=TLS1_2, cipher=TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384) id 15.2.986.42 via Mailbox Transport; Tue, 14 Apr 2026 13:31:19 +0300","x-asg-debug-id":"1776162677-06da27196713a8e50001-z4l4wD","x-barracuda-envelope-from":"printdfuskeshet@gmail.com","x-barracuda-effective-source-ip":"mail-ua1-f53.google.com[209.85.222.53]","x-barracuda-apparent-source-ip":"209.85.222.53","arc-seal":"i=1; a=rsa-sha256; t=1776162677; cv=none;        d=google.com; s=arc-20240605;        b=A8uCajDeJDPTdmcGF5Quyjzsf5ZLD+7xGWoBKU89L08bBhNtcw1TtulWVr7VZciGSb         iNmBqCmHDSm9TY+1CfSmLm8Ib0w5jNozAL7yTZ98ewa9K6WjcrKL+zoOq9KcUoN3wzaU         LcogdKDNOVaVyOxDoQLg54P83mbnQySKibTE3BRV9/1JE/op/KC5TeIxr1uunTlGMLaP         OJV9CnJLs7FTiKnGkxUzKvawdM1wnfF9AbqZd1tSWKa4zlQtbNOtng1NvJso6TY8D8h0         CRSfcekbyOqsVG9rl39zPV78HT4YbgTDFwuYqumiLfLLUThKQntbt2X8pmtbOWntOhRa         n+MQ==","arc-message-signature":"i=1; a=rsa-sha256; c=relaxed/relaxed; d=google.com; s=arc-20240605;        h=to:subject:message-id:date:from:mime-version:dkim-signature;        bh=sm7ohD/9ylfXwUbqx+lLKpK0bAKeyY92Rqep7A7Fne0=;        fh=0zcHGG5ClKWqOEmbV+602xXV44U3lyAFRFmJPO4JXmU=;        b=U69/dNl5vJSHNL+AHp8/tSkLaXgyxEE52q9Gm8OpBLajTdRCMAKDOciTgIAUx0iSIu         /5WBQPG2NfmhhxH/GpkBus6E9iq0+YpxyHXCf+5lFDv1C2v6AayoQhHJKU1EselkAPih         9yZyqnWHBzGpDT8ogXzqrhl7vMS2lx4DFCXwYvkyuAltFUFM+TqLNFAaIUgPKTAM+xpZ         jOdEtntj4b3D/3S4XWSSmE8w8u2InM4aulwxWrZL9L3rFF8kvK3aj2WnfYDybadnHtK0         YqGaAtI9Xpy2CpDj1RW3IdYqTRGgD5s4V+4i3dfryPj29CC2fcc6mlYQ3yjeWAQinecM         FWlA==;        darn=dfus-keshet.com","arc-authentication-results":"i=1; mx.google.com; arc=none","dkim-signature":"v=1; a=rsa-sha256; c=relaxed/relaxed;        d=gmail.com; s=20251104; t=1776162677; x=1776767477; darn=dfus-keshet.com;        h=to:subject:message-id:date:from:mime-version:from:to:cc:subject         :date:message-id:reply-to;        bh=sm7ohD/9ylfXwUbqx+lLKpK0bAKeyY92Rqep7A7Fne0=;        b=WeBeRanxA5/nwV7ZzaKSCYvGwV/jYLW6rPT83ODJrAjNYO4fJVGezEVpEwIeq/AO7D         sd16WJjjeZJ4gL4yuSfeqblVl57Wmcap1u4HfMow5NlFZCUDtMcU2T/+p/wIfdGCGgj+         RDmWpsoQpTA2zTMt9LhwgBWLR7rBgNzfnfT7ZrWMLenJq+QfnVONcSCMM2yyiGCaOmAS         pictZHYkyO27bZe92W9EbbQSykOVqSLaABFT+D7HNBkrk+Zg8YMk7C/pgpNLaklr73FC         Q3VatdPpY9HjSltrv5VkPxrLXLZj2mixHkplEyumnT0CVijNi/d/sOpLPN/0+G7IoDIK         Cg+A==","x-google-dkim-signature":"v=1; a=rsa-sha256; c=relaxed/relaxed;        d=1e100.net; s=20251104; t=1776162677; x=1776767477;        h=to:subject:message-id:date:from:mime-version:x-gm-gg         :x-gm-message-state:from:to:cc:subject:date:message-id:reply-to;        bh=sm7ohD/9ylfXwUbqx+lLKpK0bAKeyY92Rqep7A7Fne0=;        b=e32K+c6hrqRPoakpAU6e3eSOhfyo9QOFyohpc0iSwHebvhNIjizcsZeMBIOnUxAV8Q         cVv76gTKxdzw4N2Gx/GhYCXdM+ZPent7nT+/tCPiAx22g6xpG9rVjVD1UoKSVizhQTX8         Ed7IRFtiza050mz2CBF3zpN+r3OP17c+dYvV7AH+EvBbBgcYS/zUaqedR2nbq3GesG9w         tsUZ0wHH2hxE0cCtRir7hk98Qziqsw5+cuAXZObMIapGnFLXrvPkjaCZxJLyEuIZkgew         qbmJ/135Z+KFoHeeJtBd9gKvntfpOi8UWFcA8/nwFNzG5SU2dnQl8jcoPFHGJTKTLte6         cufQ==","x-gm-message-state":"AOJu0YybEIh/G+ybityNLr5va6apYYhDCSkwikv4zGZb6vool66J476h\tplb2s8R1m7nJUmQpDdnJfGVegfQ4UjccLUjURqPKCgb0nilK3Mp03QiNz8poOR+ABfxnK+rbSmB\tRt7Z9NycPixKgpSp46lP2Rzl131B7C7/LuAtE","x-gm-gg":"AeBDiesNxBcaQaSpPfV5Lo9ODFkerha2wKiCXtkL0hS7XqAIkpJf4A1jBGPtg2JQJ6Z\tqtAanECSQ841TcJfLOGB6CC7Ueue+qCWA6LL+74AIK2vYT6tfLdOAN9fkHkLWg4wB40vPcYXmkc\tjbHITPKz4/Ug4Sil1Mcocpshezm5voXjS9nWb+OobAhfI3+00t7qG5HuCfIcGqtHNQxg4FYmcHi\tpRhEMyRRcZx8lQCsf8X6i9rr53EsT6dM613853TjBuvrEDwZIHx47c0unGedATM+3bSmMfwObu0\tTAkKSpInKoHU0MqYjQ==","x-received":"by 2002:a05:6102:4b81:b0:605:5d09:8631 with SMTP id ada2fe7eead31-60a010583b2mr7440763137.29.1776162676190; Tue, 14 Apr 2026 03:31:16 -0700 (PDT)","x-gm-features":"AQROBzD2nOaBKrJzBPTp3sdL8paGPm7WrtGW2q9NQ4JotFw5RNN3vMeS0vYbGOg","message-id":"<CA+GHpEb_cRW8z7GLK_ss3gi7-jNhzccv82fPvmdjyGParGdmYA@mail.gmail.com>","x-asg-orig-subj":"בקשה להצעת מחיר","content-type":"multipart/alternative; boundary=\"00000000000060b193064f691921\"","x-barracuda-connect":"mail-ua1-f53.google.com[209.85.222.53]","x-barracuda-start-time":"1776162678","x-barracuda-encrypted":"TLS_AES_256_GCM_SHA384","x-barracuda-url":"https://bsf.026430010.co.il:443/cgi-mod/mark.cgi","x-virus-scanned":"by bsmtpd at 026430010.CO.IL","x-barracuda-scan-msg-size":"273","x-barracuda-brts-status":"1","x-barracuda-bayes":"INNOCENT GLOBAL 0.0000 1.0000 -2.0210","x-barracuda-spam-score":"-2.02","x-barracuda-spam-status":"No, SCORE=-2.02 using global scores of TAG_LEVEL=3.5 QUARANTINE_LEVEL=5.5 KILL_LEVEL=8.0 tests=HTML_MESSAGE","x-barracuda-spam-report":"Code version 3.2, rules version 3.2.3.157313\tRule breakdown below\t pts rule name              description\t---- ---------------------- --------------------------------------------------\t0.00 HTML_MESSAGE           BODY: HTML included in message","return-path":"printdfuskeshet@gmail.com","x-ms-exchange-organization-network-message-id":"e90c4ea8-19fb-4cd5-5c1d-08de9a10f790","x-ms-exchange-organization-authsource":"server3.mosesmail.corp","x-ms-exchange-organization-authas":"Anonymous","x-ms-exchange-transport-endtoendlatency":"00:00:00.2543333","x-ms-exchange-processed-by-bccfoldering":"15.02.0986.042"},"attributes":{"uid":536999},"from":"דפוס קשת <printdfuskeshet@gmail.com>","date":"Tue, 14 Apr 2026 13:31:04 +0300","subject":"בקשה להצעת מחיר","to":"דפוס קשת <print@dfus-keshet.com>"},"pairedItem":{"item":0}}]},"versionId":"fc684d1a-d268-4cc2-b179-e3875fff76ec","activeVersionId":null,"versionCounter":16,"triggerCount":0,"shared":[{"updatedAt":"2026-04-19T10:47:35.451Z","createdAt":"2026-04-19T10:47:35.451Z","role":"workflow:owner","workflowId":"QyIoOwWE853mChjj","projectId":"UJPbUbp697PL47Gy","project":{"updatedAt":"2026-04-19T10:45:00.710Z","createdAt":"2026-04-19T10:37:23.528Z","id":"UJPbUbp697PL47Gy","name":"Dfus keshet <print@dfus-keshet.com>","type":"personal","icon":null,"description":null,"creatorId":"98a8eab6-a47a-4e60-81c8-9164f393db7d"}}],"tags":[],"activeVersion":null}